<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/png" href="img/icon.png">
    <meta charset="utf-8">
    <title>THE HEAT</title>
    <meta name="description" content="A heatmap of the upcoming App Store releases">
    <meta name="viewport" content="width=device-width">

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" rel="stylesheet">
    <link href="bower_components/angular-bootstrap-calendar/docs/docs.css" rel="stylesheet">

    <!-- SLIDER STUFF -->
    <link href="css/bootstrap-slider.css" rel="stylesheet">
    <script type='text/javascript' src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- END SLIDER STUFF -->

    <!-- CHECKBOX STUFF -->
    <link rel="stylesheet" href="bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <!-- END CHECKBOX STUFF -->

  </head>
  <body ng-app="heatmap" ng-controller="heatmapCtrl as main">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href=""> THE HEAT : A Calendar View of App Store Releases</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid content">
      <div class="col-md-2"></div>
      <div class="row">
        <div class="col-md-8">
          <div class="text-center">
              <button
                class="btn btn-default"
                id="previous"
                mwl-date-modifier
                date="main.calendarDate"
                decrement="main.calendarView"
                style="display: inline-flex">
                <
              </button>
              &nbsp &nbsp
              <h2 id="title1">{{ calendarTitle }}</h2>
              &nbsp &nbsp
              <button
                class="btn btn-default"
                id="next"
                mwl-date-modifier
                date="main.calendarDate"
                increment="main.calendarView"
                style="display: inline-flex">
                >
              </button>
            
            <br><br><br>
        </div>


          <div class="text-center">
            <select id="genre" multiple="multiple">
                <optgroup label="Games">
                    <option value="1-1" selected="selected">Action</option>
                    <option value="1-2" selected="selected">Adventure</option>
                    <option value="1-3" selected="selected">Arcade</option>
                    <option value="1-4" selected="selected">Card</option>
                    <option value="1-5" selected="selected">Family</option>
                    <option value="1-6" selected="selected">Music</option>
                    <option value="1-7" selected="selected">Puzzle</option>
                    <option value="1-8" selected="selected">Racing</option>
                    <option value="1-9" selected="selected">Role Playing</option>
                    <option value="1-10" selected="selected">Simulation</option>
                    <option value="1-11" selected="selected">Sports</option>
                    <option value="1-12" selected="selected">Strategy</option>
                    <option value="1-13" selected="selected">Trivia</option>
                    <option value="1-14" selected="selected">Word</option>
                </optgroup>
                <optgroup label="Apps">
                    <option value="2-1">Book</option>
                    <option value="2-2">Education</option>
                    <option value="2-3">Entertainment</option>
                    <option value="2-4">Food and Drink</option>
                    <option value="2-5">Health and Fitness</option>
                    <option value="2-6">Lifestyle</option>
                    <option value="2-7">Medical</option>
                    <option value="2-8">Music</option>
                    <option value="2-9">Navigation</option>
                    <option value="2-10">News</option>
                    <option value="2-11">Photo and Video</option>
                    <option value="2-12">Productivity</option>
                    <option value="2-13">Social Networking</option>
                    <option value="2-14">Sports</option>
                    <option value="2-15">Shopping</option>
                    <option value="2-16">Travel</option>
                    <option value="2-17">Utilities</option>
                    <option value="2-18">Weather</option>
                </optgroup>
            </select>

            <select id="platform" multiple="multiple">
                <option value="7-1" selected="selected">iPhone</option>
                <option value="7-3">iPad</option>
                <option value="7-2">Apple TV</option>
                <option value="7-5">Apple Watch</option>
                <option value="7-4">Mac</option>
            </select>

            <select id="newupdate" multiple="multiple">
                <option value="7-1" selected="selected">New</option>
                <option value="7-2">Update</option>
            </select>

            &nbsp &nbsp &nbsp &nbsp &nbsp
            <div style="display: inline-block">
              Tracking Priority<br>
              <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="0"/>
            </div>
            &nbsp &nbsp &nbsp &nbsp &nbsp
            <div style="display: inline-block">
              Featuring Priority<br>
              <input id="ex2" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>
            </div>
      </div>

    <br>
    
    <div>
      <mwl-calendar
          view="main.calendarView"
          view-date="main.calendarDate"
          events="main.events"
          view-title="calendarTitle"
          on-event-click="main.eventClicked(calendarEvent)"
          on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          on-edit-event-click="main.eventEdited(calendarEvent)"
          on-delete-event-click="main.eventDeleted(calendarEvent)"
          cell-is-open="false"
          on-view-change-click="false">
      </mwl-calendar>
    </div>

    <div>
    <br><br><br>
    <h3><center>Tentative Releases in {{ calendarTitle }}</center></h3>
      <table class="table table-bordered">
          <tr ng-repeat="event in main.tentative track by $index">
            <td>
                <button
                  class="btn btn-default"
                  ng-click="main.eventClicked(event)">
                  {{event.title}}
                </button>
            </td>
            <td>
              {{ event.startsAt }}
            </td>
          </tr>
      </table>
    </div>

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  
    <script type="text/ng-template" id="modalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ main.event.title }}</h3>
      </div>
      <div class="modal-body">
        <p>
        <table>
          <tr>
            <td style="width:150px">Adam ID</td>
            <td>{{ main.event.AdamID }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Artist</td>
            <td>{{ main.event.Artist }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Release Date</td>
            <td>{{ main.event.startsAt.toDateString() }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Platform</td>
            <td>{{ main.event.Platform }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Genres</td>
            <td>{{ main.event.Genres }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Tracking Priority</td>
            <td>{{ main.event.TrackingPriority }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Featuring Priority</td>
            <td>{{ main.event.FeaturingPriority }}</td>
          </tr>
          <tr>
            <td style="vertical-align:top">Comments</td>
            <td>{{ main.event.Comments }}</td>
          </tr>
        </table>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
      </div>
    </script>

    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/interact/dist/interact.js"></script> <!-- this messes up the mouse symbol -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="js/app.js"></script>
    <script type='text/javascript' src="js/bootstrap-slider.js"></script>
  </body>
</html>


<!--

TO DO:
next prev month and filters content sensitive

-->